# Visual Studio Code configuration files
.vscode

# program binary
/backprojector*

# Profiling output
gmon.out

# Example input too big for git
tests/2352x16464.pgm

# Doxygen binaries
docs/build/doxy*

# Backup files
*.bak