# Visual Studio Code configuration files
.vscode

# program binary
/backprojector*

# Profiling output
gmon.out

# Doxygen binaries
docs/build/doxy*

# Backup files
*.bak

# Ignore example input files that aren't needed
tests/[A-Za-z]*.*
# same for output files
output/[A-Za-z]*.*